{% extends 'auth/auth-base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}


<body style="background-color: aliceblue;">
  
  {% block content %}
<div class="container"> 
    <div class="row">
      <div class= "col-md-2"> </div>
      <div class="col-md-8">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
      {% endfor %}
      <!-- Login form -->
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          {{wtf.quick_form(form)}}
        </div>
      </div>
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>

{% endblock%}

</body>