{% extends 'base.html'%}
{% from 'pitch_macro.html' import display_pitches%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
    <!-- pitch section -->
{% block content%}
<div class="container">
  <h1 class="display-4 font-weight-normal text-white"style="font-size:40px">One Minute Pitch:</h1>
  <p style="font-size:40px;color:white">You only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>
  <div id="buttons d-block mx-auto">
    
      <a class="btn btn-outline-secondary text-white" href="/posts"style="font-size:40px">View Pitches</a>
  </div>

</div>  
{% endblock %}

  